@using Contracts.Response.ProductsResponses
@model ProductResponse

@{
    Layout = config.GetValue<string>("PageLayouts:SecondaryLayout");
    ViewData["Title"] = @Model.Name;
}



<div class="text-center mt-5 mb-5" id="IndexMain">
    <form asp-action="InsertToCart" asp-controller="Cart">
        <h1 class="text-light mb-5 mt-5">@Model.Name</h1>
        <div class="card mb-3 border-0">
            <img src="~/Images/@Model.ImageName" class="card-img-top" alt="...">
            <div class="card-body bg-secondary">
                <h5 class="card-title text-light">Brand: @Model.Brand</h5>
                <p class="text-light">@Model.Description</p>
                <p class="text-light">Price: @(Model.Price.ToString("c2"))</p>
                <div class="mb-2">
                    <input value="1" class="bg-secondary bg-gradient text-light rounded-pill" id="demoInput{counter}" type=number min=1 max=10 name="quantity" readonly>
                    <a class="btn btn-outline-light" onclick="document.getElementById('demoInput{counter}').stepUp()">+</a>
                    <a class="btn btn-outline-light" onclick="document.getElementById('demoInput{counter}').stepDown()">-</a>
                </div>
                <input type="hidden" name="productId" value="@Model.Id">
                <div class="form-group mb-3 mt-3">
                    <input type="submit" value="Add to Cart" class="btn btn-outline-light" />
                </div>
            </div>
        </div>
    </form>
</div>
